body {
    background-color:#FF5E5B;
}

#store-name {
    margin: auto;
    text-align: center;
    padding: 50px;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #FFED66;
 
}

.container {
    background-color: #78CCCB;
    border-radius: 20px;
    padding: 20px;
}


#type-select {
    margin: auto;
    text-align: center;
}

#cart tfoot tr td{
    padding-top: 25px;
}